Hello fellow Cheapass,
<br ><br >

We Turned One Today! But, guess who's awesome? You there. Yes YOU!
<br ><br >

Over 2000 of you use the service today with more than 1800 of you who are super active about saving money. Cheapass servers sent over <strong>1,60,000 alerts</strong> to all of you combined in the last 365 days. You've placed orders worth more than <strong>INR. 20,00,000</strong> on Amazon, Flipkart, Snapdeal, Myntra combined.
<br ><br >

Cheapass got featured on <a href="http://www.producthunt.com/tech/cheap-ass"><strong>ProductHunt</strong></a> and <a href="https://news.ycombinator.com/item?id=8068429"><strong>Hacker News</strong></a>. Not to forget all the love you've sent in via emails and twitter mentions that has kept the project alive today.
<br ><br >

Helping so many of you has been humbling to say the least. This was a hobby project and seeing it grow out of bounds has been a fantastic experience to learn out of.
<br ><br >

Thank you for making Cheapass, Kick-Ass!
<br ><br >

Aakash Goel,
<br>
The Janitor.
<br ><br >

P.S. Are you a geek who loves solving challenging problems? <a href="https://angel.co/instamojo/jobs">Come work with me.</a>