Hi,

<br><br>

Your email was entered to receive notifications for price changes to
<b><%= product.name %></b>
on <b><%= product.seller %></b>.

<br><br>

If you requested the same, <a target="_blank" href="<%= verification_link %>">
    click here</a> to confirm the same.

<br><br>

If you think this is a mistake, please ignore the email.

<br><br>

Thanks.
