Hi,

<br><br>

A tracker has been added to receive notifications for price changes to
<b><a target="_blank" href="<%= product.productURL %>"><%= product.productName %></a></b>
on <b><%= product.seller %></b>.

<br><br>

Happy tracking!

<br><br>

<a href="http://cheapass.in">Cheapass.in</a>
