Hi,

<br><br>

You will now receive emails when price of <b><a target="_blank" href="<%= product.productURL %>">
<%= product.productName %></a></b> changes on <b><%= product.seller %></b>.

<br><br>

Happy tracking!

<br><br>

<a href="<%= user.dashboardURL %>">Manage your alerts</a> | <a href="http://cheapass.in">Cheapass.in</a>
