$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

$ca-black: #010101;

/* Space out content a bit */
body {
    // padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    background-color: $ca-black;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    // border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 0px;
    }

    /* User CSS */
    .text-sub-heading {
        color: #777;
        font-weight: bold;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

.bookmarklet-container {
    display: none;
}

/* Responsive: Portrait tablets and up */
.constrained {
    @media screen and (min-width: 768px) {
        .container {
            max-width: 730px;
        }
    }
}
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 60px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }

    .bookmarklet-container {
        display: block;
        position: absolute;
        top: 40px;
        right: 10px;
        text-align: right;
    }

}

.current-price {
    border-radius: $border-radius-small;
    background: #1abc9c;
    color: #fff;
    padding: 10px 6px;
    font-weight: bold;
    text-shadow: 0 1px 0px rgba(0,0,0,0.4);
}

#product-image {
    max-width: 100%;
}

.list-sellers {
    a {
        display: block;
    }
    img {
        width: 62px;
    }
}

.logo {
    width: 134px;
}

#fkURLForm {
    @media only screen and (max-width: 768px) {
        margin-top: 20px;
    }
}

#prettyGraphContainer {
    @media only screen and (min-width: 768px) {
        min-height: 400px;
    }
}

.alt-font {
    font-family: "chaparral-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
}

//FreeCharge offer

.fc-offer {
    background: #F8F9FA;
    padding: 15px 25px;
    border: 3px dashed #999;
    font-size: 18px;
}

.fc-offer-heading {
    color: #2980b9;
    text-align: center;
    margin-bottom: 20px;
}

.fc-offer-highlight {
    font-weight: 600;
    border-bottom: 1px double;
}

.fc-offer-img {
    width: 100%;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.text-counter {
    font-weight: 600;
    margin: 0;
}

.counter-name {
    color: #666;
}

.ca-counters {
    margin: 30px 0;
    padding: 10px 0;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

#db-col1 {
    width: 50%;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-90 {
    margin-bottom: 90px;
}

.landing-image {
    height: 650px;
    overflow: hidden;
    width: 100%;
    // padding-top: 150px;
    // padding-left: 20px;
    background-color: $ca-black;
    // background-image: url('../images/cover3.jpg');
    background-position: bottom center;
    background-size: cover;
    // animation-duration: 1s;
}

.landing-cover {
    font-family: "chaparral-pro", sans-serif;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    padding-top: 150px;
    // padding-left: 20px;
    font-family: "futura-pt";
    color: #fff;
}

.pitch {
    padding-left: 20px;
    font-size: 72px;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}

.pitch-heading {
    // line-height: 124px;
    animation-delay: 0.2s;
}

.pitch-subheading {
    animation-delay: 1.5s;
}

.btn-move {
    cursor: move;
    border: 4px dashed #d43d3a;
    // animation-duration: 1s;
    animation-delay: 3s;
    // animation-iteration-count: 1;
}

.img-hand {
    width: 80px;
    animation-delay: 2s;
}


.text-drag-this {
    color: #fff;
    font-size: 18px;
    animation-delay: 2s;
}

.text-alerts-sent {
    padding: 10px 0 0 0;
    background: rgba(0,0,0,0.3);

    h1 {
        margin-top: 5px;
    }
}

.odometer {
    font-size: 48px;
}

.img-logo-snowman {
    position: fixed;
    top: 20px; right: 20px;
    width: 45px;
}

.bg-light {
    background: #fff;
    color: #101010;
}

.product-tracks {
    position: relative;
    padding: 0;
    margin: 0;

    .product-track {
        transition: all 0.3s ease-in-out;
        list-style-type: none;
        width: 225px;
        // height: 300px;
        // padding: 10px;
        .img-container {
            text-align: center;
            height: 200px;
            img {
                width: auto;
                max-height: 100%;
                max-width: 100%;
            }
        }

        .product-name {
            text-overflow: ellipsis;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-align: center;
        }

        &.inactive {
            visibility: hidden;
            opacity: 0;
        }
    }
}

.section-padded {
    padding: 60px 20px 30px 20px;
}

.list-filters {
    // z-index: 10;
    li {
        padding: 10px;
        cursor: pointer;
        background: #fff;
        border: 1px solid #eee;
        border-radius: 7px;

        &.active {
            background: #eee;
        }
    }
}

.mb-30 {
    margin-bottom: 30px;
}

.text-light {
    color: #444;
}

.filters-container {
    background: #fff;
    z-index: 1;
    width: 100%;
    padding: 0 0 0 5px;
}

.is-sticky {
    .filters-container {
        padding-top: 10px;
    }
}