Hello,

<br><br>

You are receiving this email because you have been happily using Cheapass.

<br><br>

Did you save a few bucks? We hope you did!

Our goal is help you make an informed purchase rather than an impulsive one.

With that goal in mind, we want to seal a deal with you.

<br><br>

If you use Cheapass to track price fluctuations before buying,
we will reward you with a <b>FreeCharge coupon worth Rs. 25/- </b>.
That's as good as cash.

<br><br>

Now who doesn't like to save more and earn more?
We have updated the <a href="https://cheapass.in">website</a> with complete details.

<br><br>

<a href="https://www.facebook.com/cheapassindia">Like us on Facebook</a> and <a href="https://twitter.com/cheapass_in">Follow us on Twitter</a> for staying up to date with new features, insights and offers.

<br><br>

Happy savings!

<br><br>

<a href="http://cheapass.in">Cheapass.in</a>
