<footer class="footer_digitus">
	<ul>
        <li>
            <span class="tooltip_digitus">Subscribe!</span>
            <a href="{{@blog.url}}/rss/" target="_blank">
                <span class="fa fa-stack">
                    <i class="fa fa-stop fa-stack-2x"></i>
                    <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        
        <li>
            <span class="tooltip_digitus">Twitter</span>
            <a href="#">
                <span class="fa fa-stack">
                    <i class="fa fa-stop fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>

        <li>
            <span class="tooltip_digitus">Facebook</span>
            <a href="#">
                <span class="fa fa-stack">
                    <i class="fa fa-stop fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>

        <li>
            <span class="tooltip_digitus">Google</span>
            <a href="#">
            <span class="fa fa-stack">
                <i class="fa fa-stop fa-stack-2x"></i>
                <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
	</ul>
    
		<p>All content copyright <a href="/">{{@blog.title}}</a> &copy; 2014 &bull; All rights reserved. <br/>
		  Theme created by <a href="http://golem.io">golem.io</a> &bull; Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></p>
</footer>
