Hello,

<br>
<br>
<p>Earnings this Month</p>

<br>
<br>
<img src="<%= images.month %>" alt="Earnings this Month">

<br>
<br>
<p>Yesterday</p>

<br>
<br>
<img src="<%= images.yesterday %>" alt="Earnings Yesterday">

<br>
<br>
Cheers!
