Hi!

<br><br>

I noticed that you started tracking a few products on Cheapass, but, didn't verify your email id. What happened?

<br><br>

You will not receive price drop alerts if your email id is not verified. This is just an anti-spam measure from our side.

<br><br>

<a href="<%= verificationLink %>">Chick here to verify your email id</a>

<br><br>

Any questions or suggestions to help you serve better? Let's have a chat. Reply back!

<br><br>

Aakash Goel,
<br>
<a href="https://cheapass.in">Cheapass.in</a>
