Hi,

<br><br>
Just writing to let you know that the price of the product
<b><%= product.name %></b> has changed to <b>Rs.<%= product.price %>/-</b>

<br><br>
You can view or buy the product on <%= product.seller %> by
<a href="<%= product.url %>">clicking here</a>.

<br><br><br>
You can unsubscribe from these notifications by <a href="#">clicking here</a>.
