Hello!

<br ><br >

A bunch of you requested to see all your price tracks in one place. I heard you!

<br ><br >

<a href="https://cheapass.in/dashboard/<%= _id %>">Access your personal dashboard now!</a>

<br ><br >

It's a public dashboard but nobody knows about it unless you share the link. Would you like it to be password protected? Let me know and I will make it happen! :)

<br ><br >

<b>I am giving away Rs. 100/- worth FreeCharge cash coupons to everyone!</b>

<br ><br >

You read that right! If Cheapass helped you save money on anything, reply back with <b>your Facebook profile link</b> along with <b>what you bought</b> (A pic would be great too!). I'll feature you on <a href="https://www.facebook.com/cheapassindia">Cheapass's Facebook page</a> <b>AND</b> send you coupon codes. Also, you don't need to spend another rupee to use these coupons. Sounds great, right?

<br ><br >

Happy tracking!

<br ><br >

Aakash Goel,
<br >
<a href="https://cheapass.in">Cheapass.in</a>

<br ><br >

<b>P.S.</b> Cheapass is a project run by one single guy. (That's me. Yay!) It takes a lot of time and money to keep the service running month after month. If you like Cheapass, show us some love and spread the word about it on Facebook/ Twitter to make the it popular!