Hello!

A bunch of you requested to see all your price tracks in one place. I heard you!

<br ><br >

<a href="https://cheapass.in/dashboard/<%= _id %>">Access your personal dashboard now!</a>

<br ><br >

It's a public dashboard but nobody knows about it unless you share the link. Would you like it to be password protected? Let me know and I will make your wish come true! :)

<br ><br >

<b>I am giving away Rs. 100/- worth FreeCharge cash coupons to everyone!</b>

<br ><br >

You read that right! If Cheapass helped you save money on anything, reply back with your Facebook profile link along with what you bought (A pic would be great too!). I'll feature you on Cheapass's Facebook page AND send you coupon codes. The best part is that you don't need to spend another penny to use these coupons. Sounds great, right?

<br ><br >

P.S. Cheapass is a project run by one single guy. Which is me, ofcourse. It takes a lot of money to keep the servers running month after month. If you like Cheapass, it would mean a lot to me if you could take a minute to spread the word about Cheapass on Facebook/ Twitter to make the service popular!

<br ><br >

Happy tracking!

<br ><br >

<a href="https://cheapass.in">Cheapass.in</a>