Hi!

<br><br>

Your device verification code is <b><%= verificationCode %></b>. Enter it on your device to start receiving price change notifications on your device!

<br><br>

Happy tracking!

<br><br>

<a href="http://cheapass.in">Cheapass.in</a>
